<!DOCTYPE html>
<html lang = "ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <!-- 필요한 CSS 및 JavaScript 파일을 여기에 추가하세요 -->
</head>
<body>
<h2>회원가입 화면</h2>
<form class="form-signin" method="post" action="/login/join">
        <span>
            <input type="text" id="username" name="username" class="form-control" placeholder="아이디" autofocus="" />
        </span>
  <br><br>
  <input type="text" id="password" name="password" class="form-control" placeholder="비밀번호" />
  <br><br><br>
  <div style="text-align: center">
    <input id="joinBtn" style="display: inline-block;" type="submit" class="btn btn-info active" value="회원가입" />
  </div>
</form>
</body>
</html>
